USE [QL_TAIKHOAN]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MATK] [varchar](10) NOT NULL,
	[Email] [varchar](50) NULL,
	[MatKhau] [varchar](50) NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[QuyenHan] [varchar](10) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[F_DANGNHAPUSER]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Hàm đăng nhập USER
CREATE FUNCTION [dbo].[F_DANGNHAPUSER](@UserName VARCHAR(50), @Pass_Word VARCHAR(50))
RETURNS TABLE
AS
	RETURN (SELECT * FROM TAIKHOAN WHERE TenDangNhap = @UserName AND MatKhau = @Pass_Word AND QuyenHan = 'USER')
GO
/****** Object:  UserDefinedFunction [dbo].[F_DANGNHAPADMIN]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Hàm đăng nhập ADMIN
CREATE FUNCTION [dbo].[F_DANGNHAPADMIN](@UserName VARCHAR(50), @Pass_Word VARCHAR(50))
RETURNS TABLE
AS
	RETURN (SELECT * FROM TAIKHOAN WHERE TenDangNhap = @UserName AND MatKhau = @Pass_Word AND QuyenHan = 'ADMIN')
GO
/****** Object:  UserDefinedFunction [dbo].[F_DANGNHAP]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[F_DANGNHAP](@UserName VARCHAR(50), @Pass_Word VARCHAR(50))
RETURNS TABLE
AS
	RETURN (SELECT * FROM TAIKHOAN WHERE TenDangNhap = @UserName AND MatKhau = @Pass_Word)

GO
/****** Object:  UserDefinedFunction [dbo].[F_CHECKRESET]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Hàm kiểm tra reset mk
CREATE FUNCTION [dbo].[F_CHECKRESET](@UserName VARCHAR(50), @Email VARCHAR(50))
RETURNS TABLE
AS
	RETURN (SELECT * FROM TAIKHOAN WHERE TenDangNhap = @UserName AND Email = @Email)

GO
/****** Object:  UserDefinedFunction [dbo].[F_KIEMTRAQUYEN]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[F_KIEMTRAQUYEN](@UserName VARCHAR(50), @Pass_Word VARCHAR(50))
RETURNS TABLE
AS
	RETURN (SELECT COUNT(*) AS N'TONG' FROM TAIKHOAN WHERE TenDangNhap = @UserName AND MatKhau = @Pass_Word AND QuyenHan = 'ADMIN')

GO
/****** Object:  Table [dbo].[BAIDANG]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAIDANG](
	[MABAIDANG] [varchar](10) NOT NULL,
	[NoiDung] [nvarchar](200) NULL,
	[NGAYDANG] [date] NULL,
	[MAKH] [varchar](10) NULL,
 CONSTRAINT [PK_BAIDANG] PRIMARY KEY CLUSTERED 
(
	[MABAIDANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BINHLUAN]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BINHLUAN](
	[MABINHLUAN] [varchar](10) NOT NULL,
	[MAKH] [varchar](10) NULL,
	[NoiDung] [nvarchar](450) NULL,
	[NGAYBL] [datetime] NULL,
 CONSTRAINT [PK_BINHLUAN] PRIMARY KEY CLUSTERED 
(
	[MABINHLUAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BINHLUANBAIDANG]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BINHLUANBAIDANG](
	[MABINHLUAN] [varchar](10) NOT NULL,
	[MABAIDANG] [varchar](10) NOT NULL,
 CONSTRAINT [PK_BINHLUANBAIDANG] PRIMARY KEY CLUSTERED 
(
	[MABINHLUAN] ASC,
	[MABAIDANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTTHONGBAO]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTTHONGBAO](
	[MATB] [varchar](10) NOT NULL,
	[MAKH] [varchar](10) NOT NULL,
 CONSTRAINT [PK_CTTHONGBAO] PRIMARY KEY CLUSTERED 
(
	[MATB] ASC,
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTTINNHAN]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTTINNHAN](
	[MATN] [varchar](10) NOT NULL,
	[MAKH] [varchar](10) NOT NULL,
 CONSTRAINT [PK_CTTINNHAN] PRIMARY KEY CLUSTERED 
(
	[MATN] ASC,
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMG]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMG](
	[MAIMG] [varchar](10) NOT NULL,
	[TENIMG] [nvarchar](50) NULL,
	[MAKH] [varchar](10) NULL,
 CONSTRAINT [PK_IMG] PRIMARY KEY CLUSTERED 
(
	[MAIMG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](10) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[MATK] [varchar](10) NULL,
	[SDT] [int] NULL,
	[NGSINH] [date] NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[DIACHI] [nvarchar](10) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[NGSINH] [date] NULL,
	[MATK] [varchar](10) NULL,
	[SDT] [int] NULL,
	[DIACHI] [nvarchar](10) NULL,
	[LUONG] [int] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STORY]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORY](
	[MASTORY] [varchar](10) NOT NULL,
	[TENSTORY] [nvarchar](50) NULL,
	[MAKH] [varchar](10) NULL,
	[NOIDUNG] [nvarchar](200) NULL,
	[NGDANG] [datetime] NULL,
 CONSTRAINT [PK_STORY] PRIMARY KEY CLUSTERED 
(
	[MASTORY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGBAO]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGBAO](
	[MATB] [varchar](10) NOT NULL,
	[NoiDung] [nvarchar](200) NULL,
	[MAKH] [varchar](10) NULL,
	[NGAYBAO] [date] NULL,
 CONSTRAINT [PK_THONGBAO] PRIMARY KEY CLUSTERED 
(
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIMKIEM]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIMKIEM](
	[MATIMKIEM] [varchar](10) NOT NULL,
	[MAKH] [varchar](10) NULL,
	[NoiDung] [nvarchar](100) NULL,
 CONSTRAINT [PK_TIMKIEM] PRIMARY KEY CLUSTERED 
(
	[MATIMKIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINNHAN]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINNHAN](
	[MATN] [varchar](10) NOT NULL,
	[NoiDung] [nvarchar](450) NULL,
	[MAKH] [varchar](10) NULL,
	[NGAYNHAN] [datetime] NULL,
 CONSTRAINT [PK_TINNHAN] PRIMARY KEY CLUSTERED 
(
	[MATN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAIDANG]  WITH CHECK ADD  CONSTRAINT [FK_BAIDANG_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[BAIDANG] CHECK CONSTRAINT [FK_BAIDANG_KHACHHANG]
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD  CONSTRAINT [FK_BINHLUAN_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[BINHLUAN] CHECK CONSTRAINT [FK_BINHLUAN_KHACHHANG]
GO
ALTER TABLE [dbo].[BINHLUANBAIDANG]  WITH CHECK ADD  CONSTRAINT [FK_BINHLUANBAIDANG_BAIDANG] FOREIGN KEY([MABAIDANG])
REFERENCES [dbo].[BAIDANG] ([MABAIDANG])
GO
ALTER TABLE [dbo].[BINHLUANBAIDANG] CHECK CONSTRAINT [FK_BINHLUANBAIDANG_BAIDANG]
GO
ALTER TABLE [dbo].[BINHLUANBAIDANG]  WITH CHECK ADD  CONSTRAINT [FK_BINHLUANBAIDANG_BINHLUAN] FOREIGN KEY([MABINHLUAN])
REFERENCES [dbo].[BINHLUAN] ([MABINHLUAN])
GO
ALTER TABLE [dbo].[BINHLUANBAIDANG] CHECK CONSTRAINT [FK_BINHLUANBAIDANG_BINHLUAN]
GO
ALTER TABLE [dbo].[CTTHONGBAO]  WITH CHECK ADD  CONSTRAINT [FK_CTTHONGBAO_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[CTTHONGBAO] CHECK CONSTRAINT [FK_CTTHONGBAO_KHACHHANG]
GO
ALTER TABLE [dbo].[CTTINNHAN]  WITH CHECK ADD  CONSTRAINT [FK_CTTINNHAN_TAIKHOAN] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[CTTINNHAN] CHECK CONSTRAINT [FK_CTTINNHAN_TAIKHOAN]
GO
ALTER TABLE [dbo].[IMG]  WITH CHECK ADD  CONSTRAINT [FK_IMG_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[IMG] CHECK CONSTRAINT [FK_IMG_KHACHHANG]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_TAIKHOAN] FOREIGN KEY([MATK])
REFERENCES [dbo].[TAIKHOAN] ([MATK])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_TAIKHOAN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TAIKHOAN] FOREIGN KEY([MATK])
REFERENCES [dbo].[TAIKHOAN] ([MATK])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[STORY]  WITH CHECK ADD  CONSTRAINT [FK_STORY_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[STORY] CHECK CONSTRAINT [FK_STORY_KHACHHANG]
GO
ALTER TABLE [dbo].[THONGBAO]  WITH CHECK ADD  CONSTRAINT [FK_THONGBAO_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[THONGBAO] CHECK CONSTRAINT [FK_THONGBAO_KHACHHANG]
GO
ALTER TABLE [dbo].[TIMKIEM]  WITH CHECK ADD  CONSTRAINT [FK_TIMKIEM_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[TIMKIEM] CHECK CONSTRAINT [FK_TIMKIEM_KHACHHANG]
GO
ALTER TABLE [dbo].[TINNHAN]  WITH CHECK ADD  CONSTRAINT [FK_TINNHAN_TAIKHOAN] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[TINNHAN] CHECK CONSTRAINT [FK_TINNHAN_TAIKHOAN]
GO
/****** Object:  StoredProcedure [dbo].[FINDBD]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FINDBD] @MABD VARCHAR(10)
AS
BEGIN
	SELECT * FROM BAIDANG WHERE MABAIDANG = @MABD
END

GO
/****** Object:  StoredProcedure [dbo].[FINDBL]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FINDBL] @MABL VARCHAR(10)
AS
BEGIN
	SELECT * FROM BINHLUAN WHERE MABINHLUAN = @MABL
END

GO
/****** Object:  StoredProcedure [dbo].[FINDKH]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FINDKH] @MAKH VARCHAR(10)
AS
BEGIN
	SELECT * FROM KHACHHANG WHERE MAKH = @MAKH
END

GO
/****** Object:  StoredProcedure [dbo].[FINDNV]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FINDNV] @MANV VARCHAR(10)
AS
BEGIN
	SELECT * FROM NHANVIEN WHERE MANV = @MANV
END

GO
/****** Object:  StoredProcedure [dbo].[FINDSTR]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- STORY
CREATE PROC [dbo].[FINDSTR] @MASTR VARCHAR(10)
AS
BEGIN
	SELECT * FROM STORY WHERE MASTORY = @MASTR
END

GO
/****** Object:  StoredProcedure [dbo].[FINDTB]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FINDTB] @MATB VARCHAR(10)
AS
BEGIN
	SELECT * FROM THONGBAO WHERE MATB = @MATB
END

GO
/****** Object:  StoredProcedure [dbo].[FINDTIMKIEM]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FINDTIMKIEM] @MATIMKIEM VARCHAR(10)
AS
BEGIN
	SELECT * FROM TIMKIEM WHERE MATIMKIEM = @MATIMKIEM
END

GO
/****** Object:  StoredProcedure [dbo].[FINDTK]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FINDTK] @MATK VARCHAR(10)
AS
BEGIN
	SELECT * FROM TAIKHOAN WHERE MATK = @MATK
END

GO
/****** Object:  StoredProcedure [dbo].[FINDTN]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- TIN NHẮN
CREATE PROC [dbo].[FINDTN] @MATN VARCHAR(10)
AS
BEGIN
	SELECT * FROM TINNHAN WHERE MATN = @MATN
END

GO
/****** Object:  StoredProcedure [dbo].[SP_DANGKY]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGKY] @UserName VARCHAR(10), @Pass_Word VARCHAR(50), @Email NVARCHAR(50)
AS
BEGIN 
	INSERT INTO TAIKHOAN(MATK,TenDangNhap, MatKhau, Email,QuyenHan)
	VALUES(@UserName,@UserName, @Pass_Word, @Email,'USER')
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RESETMK]    Script Date: 29/12/2022 11:41:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--thủ tục reset mật khẩu
CREATE PROC [dbo].[SP_RESETMK] @UserName VARCHAR(50), @Pass_Word VARCHAR(50)
AS
BEGIN 
	UPDATE TAIKHOAN
	SET MatKhau = @Pass_Word
	WHERE TenDangNhap = @UserName
END

GO
